package repositories

import "gorm.io/gorm"

type ScopeReturn func(db *gorm.DB) *gorm.DB

func WhereUserEmail(email string) ScopeReturn {
	return func(db *gorm.DB) *gorm.DB {
		return db.Where("email = ?", email)
	}
}

func WhereUserID(id string) ScopeReturn {
	return func(db *gorm.DB) *gorm.DB {
		return db.Where("id = ?", id)
	}
}

func SelectedUserFields(extra ...string) ScopeReturn {
	return func(db *gorm.DB) *gorm.DB {
		fields:= []string {
			"id",
			"name", 
			"email", 
		}
		fields = append(fields, extra...);
		return db.Select(fields)
	}
}

func PaginateUser(limit, offset int) ScopeReturn {
	return func(db *gorm.DB) *gorm.DB {
		return db.Offset(offset).Limit(limit)
	}
}
