package enums

type UserRole string

const (
	Admin UserRole = "ADMIN"
	USER  UserRole = "USER"
)

func (r UserRole) IsValid() bool {
	return r == Admin || r == USER
}

func (r UserRole) IsAdmin() bool {
	return r == Admin
}

func (r UserRole) IsUser() bool {
	return r == USER
}
