# =====================
# APP
# =====================
APP_ENV=local
APP_ADDR=":8080"
FRONTEND_URL=http://localhost:3000

# =====================
# DATABASE
# =====================
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=your_db
DATABASE_PORT=5432
DATABASE_SSL_MODE=disable

# =====================
# JWT
# =====================
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_VERIFICATION_SECRET=your_verification_secret

# =====================
# SMTP
# =====================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER="Your App Name"
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_email_password

# =====================
# REDIS
# =====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=