package main

import (
	"fiber-full-postgres/config"
	app "fiber-full-postgres/internal"
	"fiber-full-postgres/internal/infra"
	"fiber-full-postgres/pkg/env"

	"go.uber.org/fx"
)

func main() {
	env.Load()
	fx.New(
		config.Module,
		infra.Module,
		app.Module,
	).Run()
}
 